*

# Git files.
!.gitignore
!README.org

# Config files.
!.config
!.config/alacritty
!.config/alacritty/*
!.config/gtk-3.0
!.config/gtk-3.0/*
!.config/i3blocks
!.config/i3blocks/*
!.config/sway
!.config/sway/*
!.config/mako
!.config/mako/*
!.config/rofi
!.config/rofi/*
!.config/rofi-pass
!.config/rofi-pass/*
!.local
!.local/bin
!.local/bin/*
!.local/bin/i3blocks/*
!.profile
!.zprofile