*

# Git files.
!.gitignore
!.README.org
!**.gitkeep

# Config files.
!.bash_profile
!.bashrc
!.config
!.config/alacritty
!.config/alacritty/*
!.config/dunst
!.config/dunst/*
!.config/git
!.config/git/*
!.config/greenclip.cfg
!.config/gtk-3.0
!.config/gtk-3.0/*
!.config/i3
!.config/i3/*
!.config/i3blocks
!.config/i3blocks/*
!.config/mako
!.config/mako/*
!.config/mpd
!.config/mpd/mpd.conf
!.config/mpd/playlists
!.config/rofi
!.config/rofi-pass
!.config/rofi-pass/*
!.config/rofi/*
!.config/sway
!.config/sway/*
!.config/systemd
!.config/systemd/
!.config/systemd/user
!.config/systemd/user/emacs.service.d
!.config/systemd/user/emacs.service.d/override.conf
!.config/zathura
!.config/zathura/*
!.config/tbsm
!.config/tbsm/tbsm.conf
!.profile

# Scripts and more.
!.local
!.local/bin
!.local/bin/*
!.local/bin/i3blocks/*
!.local/bin/sway/*
!.local/share
!.local/share/applications
!.local/share/applications/emacs.desktop
!.local/share/applications/pass.desktop
