*

# Git files.
!.gitignore
!README.org

# Config files.
!.config
!.config/gtk-3.0
!.config/gtk-3.0/*
!.config/sway
!.config/sway/*
!.config/mako
!.config/mako/*
!.config/rofi
!.config/rofi/*
!.config/rofi-pass
!.config/rofi-pass/*
!.scripts
!.scripts/*
!.profile
!.zprofile